<!-- 전체 게시글 목록을 보여주는 페이지 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Board</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="header.css">
</head>
<body>
    <%- include('header', {user: user}) %>
    <main>
        <% if(locals.user) { %>
            <a href="/post-editor" class="create-post-btn">글쓰기</a>
        <% } %>
        
        <table>
            <thead>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                </tr>
            </thead>
            <tbody>
                <% if(locals.posts) { %>
                    <% posts.forEach(post => { %>
                        <tr>
                            <td><%= post.id %></td>
                            <td>
                                <a href="/post/<%= post.id %>" class="post-title">
                                    <%= post.title %>
                                </a>
                            </td>
                            <td><%= post.username %></td>
                        </tr>
                    <% }) %>
                <% } %>
            </tbody>
        </table>
    </main>
    <div id="dialog">
        <a href="/">회원정보</a>
        <a href="/log-out">로그아웃</a>
    </div>
    <script>
        const userbtn = document.querySelector("#user-btn");
        const dialog = document.querySelector("#dialog");

        function closeDialog(e) {
            console.log(e.target)
            if (!dialog.contains(e.target)) {
                dialog.style.display = "none";
                document.removeEventListener("click", closeDialog);
            }
        }

        userbtn.addEventListener("click", (e) => {
            dialog.style.display = "flex";
            setTimeout(() => {
                document.addEventListener("click", closeDialog);
            }, 0);
            
        });
    </script>
</body>
</html>